certifi
charset-normalizer
contourpy
cycler
fonttools
idna
importlib-resources
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
PyYAML
requests
PyWavelets
tifffile
scikit-learn
scipy
six
threadpoolctl
torch
torchvision
typing-extensions
urllib3
zipp
